ion-content {
  --background: url("../../../assets/imgs/backs/registrousuario.png") no-repeat center center fixed;

  .msgRegister {
    margin-top: 30px;
    ion-col {
      color: #103681;
      --font-size: 1.35em;
    }
  }

  ion-grid {
    margin-top: 80px;
    ion-row {
      height: auto !important;
      margin: 10px;
      background: #fff;
      border-radius: 25px !important;
      ion-col {
        height: 78px !important;

        ion-item {
          color: #103681;
          font-weight: bold;
          margin: 0 !important;
          padding: 3px 10px !important;
        }
      }
    }
    ion-row.transparent {
      background: transparent;
    }
  }
}
page-register {
  .scroll-content {

    .logo {
      max-width: 100px;
      display: block;
      margin: 120px auto 20px;
    }

    

    .text-center {
      text-align: center;
    }

    .item-md,
    .item,
    .item-block {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 3px 10px !important;
      border-radius: 25px !important;

      span,
      .text-input {
        color: #103681 !important;

        &::-webkit-input-placeholder {
          color: #103681 !important;
        }
        &:-moz-placeholder {
          color: #103681 !important;
        }
        &::-moz-placeholder {
          color: #103681 !important;
        }
        &:-ms-input-placeholder {
          color: #103681 !important;
        }
      }
    }
  }
}
