page-map {
    .header{
        width: 50px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 3000;
        img{
            width: 40px;
        }
    }
    .searchBar{
        width: 90%;
        height: 40px;
        position: absolute;
        top: 60px;
        left: 5%;
        z-index: 3000;
        input{
            width: 100%;
            background: rgb(255, 255, 255);
            height: 40px;
            padding: 10px 20px;
            border-radius: 20px;
            margin: 0;
        }
    }
#map{
    height: 100%;
}
}
