<ion-menu [content]="content" side="right">
  <ion-header color="light">
    <ion-toolbar color="light">
      <ion-title>
        <img src="assets/imgs/icons/LOGOWAGO.png" width="35" />
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="header-box">
      <ion-grid>
        <ion-row *ngIf="user">
          <ion-col col-3>
            <img src="https://via.placeholder.com/150" class="pp" alt="">
          </ion-col>
          <ion-col col-9>
            <p><b>{{user.name}} {{user.lastname}}</b></p>
            <p>5.0 (1300 servicios)</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-list>
      <ion-item menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <img [src]="p.icon" width="35" />
        {{p.title}}
      </ion-item>
      <ion-item menuClose ion-item (click)="logout()">
         Cerrar sesión
        </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>